/* Banner section */
.banner-text {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 30px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
   background-color: #fff !important;

}

.search-custom {
    width: 50%;

}
a.nav-link.active.mx-2 {
    border: 2px solid #9F2927;
    background-color: #9F2927;
    color: #fff;
    border-radius: 10px;
}
.search-form {
    border: 2px solid #FAA9A98A;
    border-radius: 5px;
    background: rgba(255, 196, 196, 0.54);
    backdrop-filter: blur(10.5px);
}

.search-btn {
    border-radius: 0px 5px 5px 0px !important;
    background: #9F2927 !important;
    color: #fff;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .box-swiper-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .footer-bg{
    background-image: url('/img/Vector.png');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  }
  .footer-custom{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .card-footer{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     background-color: #fff !important;
     border-radius: 10px !important;
  }


  /* footer css */
  a{
    text-decoration: none;
    list-style: none;
    color: #fff;
  }

  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  img {
max-width: 100%;
height: auto;
}

.footer {
background: linear-gradient(180deg, rgba(139, 184, 217, 0.51) 0%, rgba(243, 177, 177, 0.51) 41.15%, rgba(144, 232, 163, 0.1) 100%);
padding-top: 45px;
padding-bottom: 20px;
}
/*END FOOTER SOCIAL DESIGN*/

@media only screen and (max-width:768px) {
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: black;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:black;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}

.single_footer ul li a {
color: black;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}
.single_footer ul li a:hover { color: #ff3666; }


.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 15px;
width: 100%;
}

@media only screen and (max-width:768px) {
.subscribe__input{padding: 0 50px 0 20px;}
}


.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) {
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#ff3666;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:10px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: black;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid black;
}
@media only screen and (max-width:768px) {
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) {
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#ED322F;
border: 1px solid #ED322F;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 10px;
padding-top: 10px;
color:black;
font-size: 15px;
border-top: 1px solid  black;
text-align: center;
}
.copyright a{color:black;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#ED322F;}



/*
buy css */

.custom-form-control{
  border: none;
  border-bottom: 2px solid #9F2927;
  border-radius: 0px;
  outline: none !important;
}
.form-control:focus {
  color: #9F2927;
 background-color: #fff !important;
  border-color: #9F2927 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.search-btn-custom{
  background-color: #9F2927;
  color: #fff;
  width: 10%;
}
.search-btn-custom:hover{
  background-color: #9F2927;
  color: #fff;
  width: 10%;
}
.form-check-input[type=checkbox] {
  border-radius: .25em;
  border: 2px solid black;
}
.slider-btn{
  background-color: #fff;
}
.slider-btn:hover{
  background-color: #fff;
  color: black;
}



.container-slider {
  position: relative;
  width: 100%;
}

.image-slider {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-slider{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9F2927;
}

.container-slider:hover .overlay {
  opacity: 1;
}

.text-slider {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 52%;
  width: 100%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
  text-align: left;

}

.img-thumbs {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 0.75rem;
}
.img-thumbs-hidden {
  display: none;
}

.wrapper-thumb {
  position: relative;
  display:inline-block;
  margin: 1rem 0;
  justify-content: space-around;
}

.img-preview-thumb {
  background: #fff;
  border: 1px solid none;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  max-width: 140px;
  padding: 0.25rem;
}

.remove-btn{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:.7rem;
  top:-5px;
  right:10px;
  width:20px;
  height:20px;
  background:white;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
}

.remove-btn:hover{
  box-shadow: 0px 0px 3px grey;
  transition:all .3s ease-in-out;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #9F2927 !important;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-tabs .nav-link {
  color: #000 !important;
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.right_conatct_social_icon {
    background: linear-gradient(to top right, #9F2927 -5%, #9F2927 100%);
}

.contact_us {
    background-color: #f1f1f1;
    padding: 120px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact_inner {
    background-color: #fff;
    position: relative;
    box-shadow: 20px 22px 44px #cccc;
    border-radius: 25px;
}

.contact_field {
    padding: 60px 340px 90px 100px;
}

.right_conatct_social_icon {
    height: 100%;
}

.contact_field h3 {
    color: #000;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px
}

.contact_field p {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.contact_field .form-control {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.contact_field .form-control:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #1325e8;
}

.contact_field .form-control::placeholder {
    font-size: 13px;
    letter-spacing: 1px;
}

.contact_info_sec {
    position: absolute;
    background-color: #2d2d2d;
    right: 1px;
    top: 18%;
    height: 340px;
    width: 340px;
    padding: 40px;
    border-radius: 25px 0 0 25px;
}

.contact_info_sec h4 {
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.info_single {
    margin: 30px 0px;
}

.info_single i {
    margin-right: 15px;
}

.info_single span {
    font-size: 14px;
    letter-spacing: 1px;
}

button.contact_form_submit {
    background: linear-gradient(to top right, #9F2927 -5%, #9F2927 100%);
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}

.socil_item_inner li {
    list-style: none;
}

.socil_item_inner li a {
    color: #fff;
    margin: 0px 15px;
    font-size: 14px;
}

.socil_item_inner {
    padding-bottom: 10px;
}
